* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #DDD6CD;
    font-family: "Righteous", sans-serif;

}

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.bar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #DDD6CD;
}

.title {
    font-size: 50px;
}

.footer {
    display: flex;
    gap: 16px;
}

.footer img {
    height: 32px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

.grid.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 350px;
    width: 350px;
    background-color: #fcfbfb;
    border: 2px solid #fcfbfb;
}

.menu.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    background-color: #fcfbfb;
    border-radius: 10px;
    gap: 12px;
    /* box-shadow: 5px 5px 10px #333; */
}

.color.pick {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #333;
}

.grid.size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttons {
    width: 100px;
    height: 75px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #DDD6CD;
    font-family: "Righteous", sans-serif;
    font-size: 14px;
}

.slide-container {
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slider {
    margin: 0px 10px ;
    -webkit-appearance: none;
    appearance: none;
    background: #333;
    outline: none;
    height: 5px;
    width: 100px;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: default;
    background-color: #DDD6CD;
}